.gen__video {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .gen-btn {
    max-width: 300px;
    padding: 10px 24px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: none;
    border-radius: 8px;
    cursor: default;
    // background-color: rgb(170, 170, 170);
  }

  canvas {
    width: 100%;
    max-width: 640px;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin-bottom: 20px;
    // background: rgb(255, 255, 255);
  }
}