.module__transform-formatting {
  display: grid;
  gap: 10px;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 10px;

  .controls {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .ant-select {
      min-width: 160px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
    width: 100%;
    transition: all .6s;

    .container-box {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 10px;
    }

    .input-area {
      border-radius: 12px;
      height: 100%;
      background: #3c3c3c;
    }

    .left {
      .controls {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &[data-enabled-to='false'] .container {
    grid-template-columns: 1fr;

    .container-box__to {
      display: none;
    }
  }
}