[data-disabled='true'] {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: .5;
}

[data-hidden='true'] {
  display: none !important;
}

[data-hidden-render='true'] {
  visibility: hidden !important;
  position: fixed !important;
  left: -100px !important;
  /* // width: 0 !important; */
  height: 0 !important;
  overflow: hidden !important;
}

