#imagePreview {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: #eee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-previews {
  img {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
  }
}