.animation__yearly-activity-grid {
  // background: #161616;
  color: white;
  margin: 0;
  display: grid;
  place-content: center;
  min-height: 80dvh;

  #activity-graph {
    display: grid;
    //  grid-template-columns: repeat(53, 2ch);
    grid-template-rows: repeat(7, 2ch);
    grid-auto-flow: column;

    gap: 0.25ch;
  }

  .day {
    --l: 0.8;
    --h: 243;
    opacity: .5;
    width: 2ch;
    aspect-ratio: 1;
    border-radius: 0.25ch;
    background-color: oklch(from #166496 var(--l) c var(--h));
  }

  .level-1 {
    --l: 0.7;
    opacity: 1;

  }

  .level-2 {
    --l: 0.6;
    opacity: 1;
  }

  .level-3 {
    --l: 0.5;
    opacity: 1;
  }

  .level-4 {
    --l: 0.4;
    opacity: 1;
  }

  .m-1 {
    --h: 280;
  }

  .m-2 {
    --h: 260;
  }

  .m-3 {
    --h: 240;
  }

  .m-4 {
    --h: 180;
  }

  .m-5 {
    --h: 120;
  }

  .m-6 {
    --h: 80;
  }

  .m-7 {
    --h: 80;
  }

  .m-8 {
    --h: 120;
  }

  .m-9 {
    --h: 180;
  }

  .m-10 {
    --h: 240;
  }

  .m-11 {
    --h: 260;
  }

  .m-12 {
    --h: 280;
  }

  .x {
    width: 100%;

    overflow-x: auto;
    scrollbar-width: none;

    padding: 1ch;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, rgb(0 0 0 / 0) 25%, rgb(0 0 0 / 0.4));
  }


  .wrapper {
    display: grid;

    &::after {
      content: "";
      height: 14ch;
      backdrop-filter: blur(0.5ch) grayscale(0.4);
    }
  }

}