.tool {
  display: flex;
  justify-content: center;

  .layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;

  }

  .card {
    padding: 5px 10px 5px;
    min-width: 80px;

    box-shadow: 0 0 2px rgba(#fff, .9);
    background-color: rgba(#fff, .2);

    .logo-layout-label {
      font-size: 16px;
    }


    .name {
      padding-top: 5px;
      font-size: 12px;
      word-spacing: 3px;
      letter-spacing: 1.5px;
    }
  }
}