.home-guide {
  position: relative;
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  height: 100%;

  .home-guide-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
  }

  .guide-module {
    position: relative;
    padding: 10px 20px;
    border-radius: 12px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 20px;
    line-height: 28px;

    .title {
      font-weight: bold;
      color: #aaa;
      white-space: nowrap;
    }

    .guide-item {
      color: #777;
      cursor: pointer;
      transition: .6s;
      font-weight: bolder;

      &:hover {
        color: #fff;
      }
    }
  }
}