/* @font-face {
  font-family: 'Smiley Sans';
  src: url('/__assets__/font/Smiley-Sans-v1-0-0/SmileySans-Oblique.otf.woff2');
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Smiley Sans'; */
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}

a,
input {
  display: block;
}

img,
svg {
  width: 100%;
  height: 100%;
}

div {
  text-align: center;
}

body {
  width: 100vw;
  font-family: fangsong;
  font-weight: bold;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #0d111f;
  display: flex;
  justify-content: center;
  align-items: center;
}