.modules-content-layout {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  background-color: #4141435d;
  border-radius: 12px;
  animation: animate 5s ease-in-out infinite;
  padding-left: 6rem;
}

.modules-content {
  padding: 3.5rem;
  padding-top: 8rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8rem 8rem;

}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

:root {
  --s-5: 7.5rem;
  --s-4: 6rem;
  --s-3: 4.5rem;
}

.modules-content>div {
  display: inline-block;
  transform: skewY(-20deg);
  background-color: #fff;
  filter: drop-shadow(0 0 .5px #fff);
  width: var(--s-5);
  height: var(--s-5);
  color: blue;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  box-sizing: border-box;
  padding-left: 5px;
}

.modules-content>div::before,
.modules-content>div::after {
  content: '';
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: pre-wrap; */
  display: flex;
  justify-content: center;
  padding-right: 5px;
  font-size: 3rem;
  box-sizing: border-box;
  align-items: center;
  filter: drop-shadow(0 0 .5px #fff);
  transition: background-color 1.5s;
  background-color: #fff;
  position: absolute;
}


.modules-content>div::before {
  top: calc(-1 *var(--s-4));
  left: 0;
  color: green;
  width: var(--s-5);
  height: var(--s-4);
  transform-origin: bottom;
  transform: skewX(45deg);
}

.modules-content>div::after {
  content: attr(data-word);
  color: red;
  top: 0;
  left: calc(-1 *var(--s-4));
  width: var(--s-4);
  height: var(--s-5);
  transform-origin: right;
  transform: skewY(45deg);
}

.modules-content>div:hover::before,
.modules-content>div:hover::after,
.modules-content>div:hover {
  transition: 0s;
  filter: drop-shadow(0 0 30px #ef4149);
  background-color: #f14e55;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.modules-content>div:hover {
  z-index: 999;
}

@media screen and (max-width: 1400px) {

  .modules-content {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 1000px) {

  .modules-content {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 800px) {

  .modules-content {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 600px) {

  .modules-content {
    grid-template-columns: 1fr;
  }

}