.modules-content-layout {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 1rem;

}

.modules-content {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 95vw)); */
  grid-template-columns: repeat(auto-fill, 24em);
  gap: 1rem 1rem;

}

.modules-content>div {
  color: #eee;
  background-color: #c9c9c934;
  border-radius: 12px;
  text-align: center;
  position: relative;
  font-variant: 3;
  font-family: fantasy;
  cursor: pointer;
  font-weight: lighter;
  height: 10em;
  box-shadow:
    -2px -2px 12px #c9c9c934;
}

:root {
  --item-logo-size: 1.7rem;
}

.modules-content .logo {
  position: absolute;
  left: 1rem;
  top: .5rem;
  width: var(--item-logo-size);
  height: var(--item-logo-size);
  padding: .5rem;
  border-radius: 6px;
  background-color: #c9c9c94a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modules-content .msg {
  width: 100%;
  line-height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-size: 2.3em;

}

.modules-content .msg .tag {
  margin-top: 5px;
  display: inline-block;
  width: 4.5rem;
}

.modules-content .content:hover {
  background-color: #c9c9c91f;

}

.modules-content .content:hover .msg {
  color: #fff;
  font-family: fantasy;
}

a {
  text-decoration: none;
}

.content .logo.unit {
  background: none;
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0;
}

.content .logo.unit a {
  margin-right: .25rem;
  display: inline-block;
  width: var(--item-logo-size);
  height: var(--item-logo-size);
}