.own {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.own .module {
  padding: 16px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
.own .module .title {
  font-weight: bolder;
  margin-bottom: 12px;
}
.own .module .children {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px 10px;
}
.own .module .children .name {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.own .module .children .name:hover {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.9);
}

