.tool-ddl-container div {
  border-radius: 6px;
}
.tool-ddl-container div.blank {
  border: none;
}
.tool-ddl-container .ddl-task-item {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 0 1fr 31fr;
}
.tool-ddl-container .ddl-task-item.high .ddl-task-item-render {
  border-color: red;
}
.tool-ddl-container .ddl-task-item img {
  max-height: 32px;
  max-width: 32px;
  border-radius: 12px;
}
.tool-ddl-container .ddl-task-item-render {
  font-size: 14px;
  padding: 8px 8px;
  text-align: center;
  position: relative;
  border: 2px solid rgba(42, 100, 181, 0.8);
}
.tool-ddl-container .ddl-timeline {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.tool-ddl-container .ddl-timeline-item {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: rgba(250, 214, 100, 0.6);
  border-radius: 0;
  padding: 6px 0;
  min-height: 32px;
}
.tool-ddl-container .ddl-timeline-item.weekend {
  border-color: #23d96e;
}
.tool-ddl-container .ddl-timeline-item.now {
  color: #23d96e;
  background: rgba(35, 217, 110, 0.34);
}
.tool-ddl-container .ddl-timeline-item.nextWeek:not(.weekend) {
  filter: opacity(0.5);
}
.tool-ddl-container .ddl-timeline-item .title {
  text-align: center;
}
.tool-ddl-container .ddl-game-task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.tool-ddl-container .ddl-game-task-account {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 20px;
  align-items: center;
}
.tool-ddl-container .ddl-game-task-account-item {
  cursor: pointer;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s;
}
.tool-ddl-container .ddl-game-task-account-item .title-val {
  height: 32px;
  line-height: 32px;
}
.tool-ddl-container .ddl-game-task-account-item.select {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.8);
}
.tool-ddl-container .ddl-game-task-account-item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.tool-ddl-container .ddl-game-task-item {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  gap: 20px;
  font-size: 12px;
}
.tool-ddl-container .ddl-game-task-item > .title {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  overflow: visible;
  min-width: 160px;
  padding: 20px 0;
  text-align: center;
  border-radius: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}
.tool-ddl-container .ddl-game-task-item > .week_task {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.tool-ddl-container .ddl-game-task-item > .week_task .week_task-item {
  color: rgba(255, 255, 255, 0.8);
  transform: 0.6s;
  cursor: pointer;
}
.tool-ddl-container .ddl-game-task-item > .week_task .week_task-item.check {
  text-decoration: line-through;
  opacity: 0.5;
}

