.tool-calculator {
  --ceil: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool-calculator .tool-calculator-layout {
  display: grid;
  grid-template-columns: 270px 340px;
  gap: 10px;
}
.tool-calculator .history-box {
  padding: 10px 12px;
  width: 100%;
  height: 340px;
  background-color: #242424;
  border-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 250px;
}
.tool-calculator .history-box .history {
  max-height: 250px;
  overflow-y: auto;
}
.tool-calculator .history-box .item {
  white-space: wrap;
  line-height: 32px;
}
.tool-calculator .simple {
  display: grid;
  grid-template-columns: repeat(4, var(--ceil));
  gap: 10px;
}
.tool-calculator .simple .keypad {
  height: var(--ceil);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: #242424;
  font-weight: bold;
  cursor: pointer;
}
.tool-calculator .simple .keypad[data-val='C'],
.tool-calculator .simple .keypad[data-val='Del'],
.tool-calculator .simple .keypad[data-val='%'],
.tool-calculator .simple .keypad[data-val='÷'],
.tool-calculator .simple .keypad[data-val='x'],
.tool-calculator .simple .keypad[data-val='-'],
.tool-calculator .simple .keypad[data-val='+'],
.tool-calculator .simple .keypad[data-val='Switch'],
.tool-calculator .simple .keypad[data-val='='] {
  color: #ED8114;
}
.tool-calculator .simple .keypad:hover {
  background-color: rgba(36, 36, 36, 0.7);
}
.tool-calculator .simple .keypad[data-val='Switch'] {
  visibility: hidden;
  cursor: none;
  pointer-events: none;
}

