.package {
  display: flex;
  justify-content: center;
}
.package .layout {
  column-count: 5;
  overflow: auto;
  padding: 24px;
  column-gap: 10px;
}
.package .layout > .card {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
.package .card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  border: none;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}
.package .card > .header {
  cursor: pointer;
  letter-spacing: 1.4px;
  border-bottom: 2px solid #7a7a7a;
  width: 100%;
}
.package .card .desc {
  font-size: 12px;
  word-spacing: 1px;
  letter-spacing: 1.4px;
  line-height: 24px;
}
.package .card .example {
  color: #fff;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: 500;
  padding: 0 5px;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #3181C2;
  text-decoration: none;
}
.package .card .label {
  display: inline-block;
}
.package .card .install .au-tab .header {
  font-size: 12px;
}
.package .card .install .cmd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  border-radius: 8px;
}
.package .card .shields {
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
  zoom: 0.9;
}
.package .card .shields span {
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  font-size: 11px;
  background: #5C5C5C;
  border-radius: 4px;
}
.package .card .shields span.Non-Open-Source {
  background: #EE7F3B;
}
.package .card .shields img {
  min-height: 22px;
}
.package .card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
  zoom: 0.8;
  transition: all 1.2s;
}
.package .card .tags .tag {
  color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 22px;
  height: 22px;
}

.logo-layout {
  display: inline-block;
}
.logo-layout > span {
  margin: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.logo-layout img {
  border: none;
  font-size: 16px;
}
.logo-layout .hidden {
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  visibility: hidden;
}

.layout-container .layout-box {
  min-height: 100vh;
  padding: 20px 20px 42px;
}

.au-loading {
  position: relative;
}
.au-loading.loading > .au-loading-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}
.au-loading.loading > .au-loading-bg > .au-loading-spin {
  width: 90%;
  height: 90%;
  max-width: 40px;
  max-height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

