.study-svg-demo .demo2 .beat {
  transform-origin: bottom;
  animation: beat-scale 1.4s linear infinite;
}
.study-svg-demo .demo2 .beat:nth-child(1) {
  animation-delay: 0.4s;
}
.study-svg-demo .demo2 .beat:nth-child(2) {
  animation-delay: 0.2s;
}
@keyframes beat-scale {
  25% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(0.3);
  }
}
.study-svg-demo .demo3 .fast-hand {
  animation: clock-rotate 2s linear infinite;
  /*动画时间设置不同*/
}
.study-svg-demo .demo3 .slow-hand {
  animation: clock-rotate 15s linear infinite;
  /*动画时间设置不同*/
}
@keyframes clock-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

