.render .content {
  display: flex;
  width: 500px;
  margin: 10px 0;
}
.render .content div {
  text-align: center;
  color: #fff;
  flex-basis: 60px;
}
.render .content .box {
  flex-grow: 1;
}
.render .content .box1 {
  flex-grow: 4;
}
.render .content2 {
  display: flex;
  width: 500px;
}
.render .content2 div {
  text-align: center;
  color: #fff;
}
.render .content2 .box {
  flex-shrink: 1;
}
.render .content2 .box1 {
  flex-shrink: 4;
}

