* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 2px 9px rgba(0, 0, 0, 0.95);
}
div,
span {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.linenumber.react-syntax-highlighter-line-number {
  display: inline !important;
}
:root {
  interpolate-size: allow-keywords;
}
body {
  background: #000;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.root {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}
.au-box {
  border-color: rgba(255, 255, 255, 0.5);
}
.none {
  display: none;
}
.md {
  width: 100%;
  padding-bottom: 10px;
}
.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-bottom: 10px;
}
.md ul,
.md ol {
  margin-left: 25px;
  margin-bottom: 10px;
}
.md li {
  line-height: 32px;
}
.md p {
  line-height: 32px;
}
.md hr {
  margin: 10px 0;
}

.night-theme .au-btn:disabled > .content {
  color: rgba(255, 255, 255, 0.7);
}

