.au-text-stroke text {
  font-size: 15px;
  font-weight: bold;
  stroke: #108ee9;
  stroke-width: 1px;
  paint-order: stroke;
}

.au-text-middle-ellipsis {
  color: #000;
  position: relative;
  line-height: 2;
  height: 2em;
  padding: 0 10px;
  overflow: hidden;
  background: #fff;
  margin: 5px 0;
}
.au-text-middle-ellipsis .txt {
  display: block;
  max-height: 4em;
}
.au-text-middle-ellipsis .title {
  display: block;
  position: relative;
  background: inherit;
  text-align: justify;
  height: 2em;
  overflow: hidden;
  top: -4em;
}
.au-text-middle-ellipsis .title::before {
  content: attr(title);
  width: 50%;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

