.tool-sse {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tool-sse-box {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 10px;
}
.tool-sse-box-content {
  border-radius: 12px;
  min-height: 120px;
  padding: 10px;
  line-height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

