.own {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.own .module {
  padding: 16px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
.own .module .title {
  font-weight: bolder;
  margin-bottom: 12px;
}
.own .module .children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.own .module .children .name {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.own .module .children .name:hover {
  color: #ffffff;
}

