.study__study-drag .layout-box {
  padding: 0;
}
.study-drag {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
}
.study-drag .sider {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.study-drag .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.study-drag .ele {
  position: fixed;
  width: 230px;
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  cursor: grab;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.study-drag .ele input {
  background: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
}
.study-drag .auxiliary-line {
  position: fixed;
  border: none;
  background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 0.3em, transparent 0.1em, transparent 0.7em);
  z-index: 10;
}
.study-drag .auxiliary-line-x {
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
}
.study-drag .auxiliary-line-y {
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
}

