.info {
  padding: 12px;
}
.info .module {
  margin-bottom: 20px;
}
.info .module h3 {
  margin-bottom: 16px;
}
.info .core-stock > .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 10px;
}
.info .card {
  width: 320px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 12px;
  font-size: 12px;
  position: relative;
}
.info .card .field {
  color: #9DA2AF;
}
.info .card .symbol {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.info .card .b {
  color: #e3e4e8;
}
.info .card .change {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  padding: 5px 0 10px 0;
  zoom: 1.5;
}
.info .card .change.up {
  color: red;
}
.info .card .change.down {
  color: green;
}
.info .card .close {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.info .card .timestamp {
  position: absolute;
  font-size: 10px;
  right: 10px;
  bottom: 10px;
}

