.tool-todo-list-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  overflow: hidden;
}
.tool-todo-list-container .conf .au-input {
  line-height: 28px;
  height: 32px;
}
.tool-todo-list-container .todo-container {
  margin-top: 20px;
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 10px;
}
.tool-todo-list-container .todo-container .todo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-direction: column;
  gap: 10px;
}
.tool-todo-list-container .todo-container .todo .todo-item {
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
}
.tool-todo-list-container .todo-container .todo .todo-item:hover {
  border-color: rgba(255, 255, 255, 0.8);
}
.tool-todo-list-container .todo-container .todo .todo-item .desc {
  max-width: 100%;
  white-space: wrap;
  word-break: break-all;
  max-height: 64px;
  overflow-y: auto;
}
.tool-todo-list-container .todo-container .todo .todo-item .tag {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.tool-todo-list-container .todo-container .todo .todo-item .tag > div {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 8px;
  font-size: 10px;
  border-radius: 4px;
}

