.panel-gen .border {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 12px;
}
.panel-gen .reload-btn {
  position: absolute;
  right: 10px;
  top: 135px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 8px 12px;
}
.panel-gen .label {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
}
.panel-gen .left {
  position: relative;
}
.panel-gen .row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.panel-gen .col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.panel-gen .alert {
  position: fixed;
  top: 30px;
  left: 48vw;
  color: green;
  border: 2px solid green;
  display: inline-block;
  background: #f7ffed;
  padding: 12px 24px;
  border-radius: 12px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bolder;
  transition: all 0.3s;
}
.panel-gen .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 32px;
}
.panel-gen .row .value {
  font-size: 15px;
  max-width: 80vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-gen .row .icon {
  cursor: pointer;
}
.panel-gen input {
  outline: none;
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  resize: none;
  overflow: hidden;
  line-height: 24px;
  padding: 0 12px;
  border-radius: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
}
.panel-gen input::-webkit-outer-spin-button,
.panel-gen input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
.panel-gen input[type='number'] {
  -moz-appearance: textfield;
}

