:root {
  --icon-size: 16px;
  --border-radius: 8px;
}

body {
  color: #fff;
  background: #202124;
}

img {
  border-radius: var(--border-radius);
}

button.docsify-copy-code-button {
  height: 20px;
  display: flex;
  font-size: .5rem;
  padding: 0 .6rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: center;
  align-items: center;
}

section.content>aside.toc-nav {
  margin-right: 5px;
  width: auto;
  min-width: 150px;
  max-width: 220px;
}

.toc-nav.nothing {
  display: none;
}

.toc-nav.nothing+.markdown-section {
  margin-right: 0;
}

div.expand-btns {
  position: fixed;
  left: 30px;
  bottom: -3px;
  padding: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.expand-btns>a>img,
.expand-btns>button>img {
  width: 20px;
  height: 20px;
}

.expand-btns>button,
.expand-btns>a {
  cursor: pointer;
  display: inline-block;
  background: transparent;
  text-decoration: none;
}

body.close .expand-btns>button,
body.close .expand-btns>a {
  display: none;
}

.expand-btns>button {
  border: none;
  margin: 0;
  padding: 0;
}

div.pagination-item-title {
  margin-top: 5px;
  font-size: 1.2em;
}

section>aside.toc-nav {
  position: fixed;
  top: 70px;
  right: 0;
  margin-right: 20px;
  width: 250px;
  z-index: 999999;
  align-self: flex-start;
  flex: 0 0 auto;
  overflow-y: auto;
  max-height: 95%;
}

@media screen and (max-width: 1300px) {

  section>aside.toc-nav {
    display: none;
  }

  .toc-nav+.markdown-section {
    margin-right: 0;
  }
}

button.sidebar-toggle {
  background: #6b6b6b;
  width: 90px;
  border-top-right-radius: 12px;
  position: fixed;
  left: 0;
  bottom: -5px;
}


::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

.markdown-section figure,
.markdown-section p {
  margin: .4rem 0;
}

.markdown-section code,
.markdown-section pre {
  white-space: pre-wrap;
}


.sidebar,
input[type='search'] {
  background: transparent;
}

.markdown-section pre {
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.markdown-section pre>code {
  padding: 0;
  margin: 0;
}

.markdown-section>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
  padding-left: 8px;
}

.markdown-section blockquote {
  padding-left: 10px;
}

.markdown-section pre>code {
  padding: 4px 0;
}

.sidebar {
  padding: 0;
}

div.search {
  border-bottom: 1px solid rgba(238, 238, 238, 0.185);
}

.folder {
  cursor: pointer;
}

.markdown-section {
  overflow-y: auto;
  max-width: 98%;
  padding-top: 0;
}

.content {
  padding-top: 5px;
  margin-top: 1rem;
}

.markdown-section>div:first-child {
  margin-right: 85px;
}


.markdown-section code,
.markdown-section pre {
  background-color: #555;
  border-radius: 8px;
}

.markdown-section code,
.markdown-section pre {
  background: #000;
}

.markdown-section output:after,
.markdown-section pre:after {
  color: #626262;
}

.input-wrap>div.clear-button.show {
  display: none;
}

.markdown-section pre code,
.sidebar,
.page_toc div[class^="lv"].active a,
.page_toc div[class^="lv"].active a span,
.input-wrap>input .sidebar,
.sidebar ul li a,
div.page_toc div[class^="lv"] a,
div.page_toc div[class^="lv"] a span {
  color: #fff;
}

.page_toc div[class^="lv"] a:hover span {
  background: #4d4d4d;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong,
.anchor span {
  color: #e3e3e3;
}

.app-sub-sidebar li {
  counter-increment: num;
}

.app-sub-sidebar li:before {
  content: counter(num)'.';
}

.markdown-section p.tip, .markdown-section tr:nth-child(2n){
  background-color: #5e5e5e;
}

.input-wrap input{
  color: #fff;
}