{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "bracketSameLine": true,
  "insertPragma": false,
  "vueIndentScriptAndStyle": false
}
