.editor-pro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 5px;


  &-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
}