.home-guide {
  position: relative;
  width: 100%;
  font-size: 14px;
  justify-content: center;
  gap: 10px;
  height: 100%;
  max-width: 100vw;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 10px;
  padding-right: 10px;

  .home-guide-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
    max-width: 100vw;
  }

  .home-guide-history {
    grid-column: 1 / -1;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
  }

  @media only screen and (max-width: 450px) {
    .home-guide-col {
      min-width: 100vw;
    }
  }

  .guide-module {
    position: relative;
    padding: 10px 20px;
    border-radius: 12px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 20px;
    line-height: 28px;

    .title {
      font-weight: bold;
      color: #aaa;
      white-space: nowrap;
      z-index: 2;
    }

    .guide-item {
      color: #777;
      cursor: pointer;
      transition: .6s;
      font-weight: bolder;
      z-index: 2;

      &:hover {
        color: #fff;
      }
    }
  }
}