.home {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  .layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 24px;
    width: 100vw;
    max-width: 100vw;
    position: relative;
  }

  .card {
    position: relative;
    width: 300px;
    max-width: 100vw;
    height: 120px;
    border: none;
    border-radius: 12px;
    padding: 16px 18px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: all .6s ease-in-out;

    &.select {
      box-shadow: -2px 3px 8px rgba(255, 255, 255, .9);
    }

    &:hover:not(.select) {
      box-shadow: -2px 3px 8px rgba(255, 255, 255, .3);
    }

    .logo {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      font-size: 32px;
      padding: 8px;
      padding-bottom: 14px;
      padding-left: 10px;
      border-radius: 12px;
    }

    .name {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 100px;
      min-height: 50px;
      padding-right: 10px;

      &:hover {
        color: #88CA97;
      }
    }
  }

}