* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0px 2px 9px rgba(0, 0, 0, .95);
}

body {
  overflow: hidden;
  background: #2b2b2b;
  background-image: url(https://cdn.jsdelivr.net/npm/0static/img/2024-02-20.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.1);
}