button {
  background: #000;
  min-height: 32px;
  padding: 6px 16px;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, .3);
}

body{
  font-size: 16px;
}

.none{
  display: none;
}