@reference "tailwindcss";

.dev__date-day {
  @apply text-center flex justify-center items-center rounded-2xl w-30 h-30 bg-white/5 shadow-cyan-500 shadow-md;
}

.dev__date-day[data-month='false'] {
  @apply opacity-40;
}
.dev__date-day[data-month='true'] {
  @apply bg-white/30;
}

.dev__date-day[data-month='true'][data-before='true'] {
  @apply opacity-60;
}

.dev__date-day[data-weekend='true'] {
  @apply shadow-green-500;
}

.dev__date-day[data-day='true'] {
  @apply shadow-blue-500 bg-white/60;
}
